body {
    font-family: sans-serif;
    margin:0;
    line-height: 1.5;
}

*{
    box-sizing:border-box;
    margin:0;
}

.login-popup {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:1099;
    
    background-color: rgba(0,0,0,0.3);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}
 .show {
    visibility: visible!important;
    opacity: 1;
}

.login-popup .box { 
    background-color: #ffffff;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    margin-left: 50px;
    
    border-radius: 15px;
}

.login-popup .box .img-area {
    flex:0 0 50%;
    max-width: 50;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    border-radius: 15px;
}

.login-popup .box .img-area .img {
    position: absolute;
    left:0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url('bg.jpg');
    background-size:cover;
    background-position: center;
    animation: zoomInOut 7s linear infinite;
    z-index: -1;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1);
    }
}

.login-popup .box .form {
    flex:0 0 50%;
    max-width: 50;
    padding: 40px 30px;
}

.login-popup .box .form .form-control {
height: 45px ;
margin-bottom:30px;
width: 100%;
border:none;
border-bottom: 1px solid #cccccc;
font-size: 15px;

}

.login-popup .box .form .form-control:focus {
    outline: none;
}

.login-popup .box .form label {
    font-size: 15px;
    color: #555555;
}

.login-popup .box .form .form-group a {
    text-decoration: none;
    float: right;
    color: gray;
    margin:3px;
}

.login-popup .box .form .btn {
width: 100%;
background-color:#72c02c;
margin-top: 40px;
padding: 14px;
border:none;
border-radius: 20px;
font-size: 15px;
text-transform: uppercase;
font-weight: 700;

}
.login-popup .box .form .btn:focus {
    outline: none;
}

.login-popup .box .form .sign-up  small {
       display: flex;
       justify-content: center;
       margin-top: 25px;
       font-weight: bold;
       
       
}
.login-popup .box .form .sign-up  small a {
    text-decoration: none;
    color: gray;
}

.login-popup .box .form  .close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 30px;
    cursor: pointer;
    border:none;
    background-color: white;
}

.login-popup .box .form  .close:focus {
    outline: none;
}





